@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fundo: #7d19ff;
}

* {
    font-family: Inter;
    margin: auto;
    padding: 0;
}

body {
    background-color: var(--fundo);
}